#p1{
    font-family: 'Impact';
    text-shadow: 2px 2px #FF0000;
}
#p2{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
#sqimg{
    width: 50px;
    height: 50px;
}
#imgmarg{
    width: 500px;
    height: 250px;
    margin: 20px;
}
#imgflt{
    width: 200px;
    height: 200px;
    float: left;
}

.std{
    position: relative;
    text-align: center;
}
.caption{
    border-style: dotted;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blurb{
    border-style: solid;
    border-radius: 25px;
    padding:20px;
}
